/*!
Theme Name:
Theme URI: 
Author: 
Author URI:
Description:
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:
Tags:

*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0  Bootstrap
2.0  FontAwesome
3.0  Elements
4.0  Navigation
  4.1 Menus
5.0  Modules
6.0  Site
  6.1 Header
  6.2 Homepage
  6.3 Post and Pages
    6.3.1 Cover
    6.3.2 Main
    6.3.3 Post
7.0  Media
  7.1 Captions
  7.2 Galleries
8.0  Responsive

--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700|Sail|Teko:300,400';
/*------------------------------------------------------------------------*/
* {
  -webkit-backface-visibility: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #ffffff;
  font-size: 13px;
  line-height: 1.7;
  color: #000;
}

*:focus {
  outline: none;
}

a {
  transition: all 0.3s ease-in-out;
}

a:hover {
  transition: all 0.3s ease-in-out;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

blockquote {
  position: relative;
  font-family: "Teko", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 1.3;
  border-left: 0;
  color: #333;
  margin: 30px 0;
}

blockquote cite {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  display: block;
  margin-top: 30px;
}

p {
  color: #333;
}

img {
  max-width: 100%;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  height: 45px;
}

.form-control:focus {
  border-color: #dddddd;
}

.btn {
  font-family: "Teko", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 0;
  letter-spacing: 2px;
}

.btn-default {
  border-color: #000;
}

.btn-default:hover {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-primary {
  color: #ffffff;
  border-color: #000;
  background-color: #000;
}

.btn-primary:hover {
  background-color: #fff;
  color: #000;
}

.btn-line {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.btn-line:hover {
  color: #000;
  background-color: #fff;
}

.btn-lg {
  font-size: 21px;
}

.btn-group-xs > .btn, .btn-xs {
  padding: 5px 15px 1px 15px;
}

.wp-caption {
  margin: 15px 0;
  padding: 15px;
  border: 3px double #ddd;
}

.wp-caption-text {
  font-size: 10px;
  text-transform: uppercase;
  color: #878787;
  margin-top: 15px;
}

.single-author {
  padding: 40px;
  border-bottom: 1px solid #ddd;
}

.related-post {
  padding: 40px 0 50px;
  text-align: center;
}

.related-post-title {
  font-family: "Teko", sans-serif;
  font-size: 36px;
  letter-spacing: 2px;
  font-weight: normal;
}

.related-post-item h3 {
  font-family: "Teko", sans-serif;
  font-size: 36px;
  font-weight: 300;
}

.related-post-item h3 a {
  color: #333;
}

.related-post-item .entry-date {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-transform: none;
  font-weight: normal;
}

.element-content {
  margin-bottom: 90px;
}

.push-title {
  margin-left: 15px;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-heading {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.panel-default {
  border-color: #000;
}

.panel-default > .panel-heading {
  background: #000;
  color: #fff;
}

.panel-title {
  text-transform: none;
}

.panel-title a:hover {
  text-decoration: none;
}

.panel-title i {
  float: right;
}

.alert {
  border-radius: 0;
}

.tab-content > .active {
  padding: 20px;
  border: 1px solid #ddd;
  border-top: 0;
}

/*--------------------------------------------------------------
4.0 Navigation
--------------------------------------------------------------*/
.fixed-on {
  position: absolute;
  width: 100%;
  padding-top: 20px;
  z-index: 999;
}

.fixed-on a {
  color: #fff;
}

.fixed-on a:hover {
  color: #ccc;
  text-decoration: none;
}

.bordered .nav-menu a, .boxed .nav-menu a {
  color: #333;
}

.bordered .nav-menu a:hover, .boxed .nav-menu a:hover {
  color: #878787;
  text-decoration: none;
}

.site-navigation-wrapper {
  width: 970px;
  margin: 0 auto;
}

.nav-menu {
  text-align: center;
}

.navbar-toggle {
  z-index: 999;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

/*--------------------------------------------------------------
4.1 Menus
--------------------------------------------------------------*/
.menu {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li {
  position: relative;
  float: left;
  font-family: 'Teko', sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.menu li:last-child ul {
  left: auto;
  right: 0;
}

.menu li:last-child ul:before {
  left: 80%;
}

.menu li:last-child ul ul {
  left: -100%;
}

.menu li ul {
  display: none;
  position: absolute;
  z-index: 99;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #fff;
  width: 220px;
  top: 100%;
  left: 0;
}

.menu li ul:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 7px 5px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  left: 30px;
  top: -7px;
}

.menu li ul ul {
  left: 100%;
  top: 0;
}

.menu li ul ul:before {
  border: 0;
}

.menu li ul li {
  display: block;
  float: none;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.menu li ul li a {
  color: #333;
  display: block;
  padding: 10px 20px;
}

.menu li:hover > ul {
  display: block;
}

.menu a {
  display: inline-block;
  padding: 30px 20px;
  transition: all 0.4s ease-in-out;
}

@media (min-width: 768px) {
  .site-navigation-wrapper {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .site-navigation-wrapper {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .site-navigation-wrapper {
    width: 1200px;
  }
}

/*--------------------------------------------------------------
5.0 Modules
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/*--------------------------------------------------------------
6.0 Site
--------------------------------------------------------------*/
/*--------------------------------------------------------------
6.1 Header
--------------------------------------------------------------*/
.site-title {
  font-family: 'Sail', cursive;
  font-size: 45px;
  text-transform: none;
  font-weight: 400;
}

.site-title a {
  color: #000;
}

.site-title a:hover {
  color: #878787;
  text-decoration: none;
}

/*--------------------------------------------------------------
6.2 Homepage
--------------------------------------------------------------*/
.featured-slider {
  position: relative;
  background: #fff;
}

.featured-slider img {
  width: 100%;
}

.caption {
  position: absolute;
  width: 100%;
  top: 40%;
  text-align: center;
  color: #fff;
  z-index: 99;
}

.caption h1 {
  font-size: 100px;
  font-weight: 400;
  font-family: 'Sail', cursive;
  text-transform: none;
  padding-bottom: 30px;
  margin-bottom: 30px;
  display: inline-block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.caption p {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
}

.caption.on-location {
  top: 33%;
}

.caption.on-location p {
  font-family: "Teko", sans-serif;
  font-size: 100px;
  font-weight: 300;
  letter-spacing: 8px;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.3;
}

.section-title {
  text-align: center;
  font-family: 'Teko', sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 40px;
  margin: 100px 0 50px 0;
}

.couple {
  padding-bottom: 30px;
  background: #fff;
}

.couple h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 15px;
  position: relative;
  z-index: 99;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.couple h3:before {
  content: "";
  width: 15px;
  height: 5px;
  background: #000;
  position: absolute;
  bottom: 0;
}

.couple span {
  font-family: "Teko", sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #bbb;
}

.couple .onleft {
  margin-bottom: 90px;
}

.couple .onleft h1:before {
  left: 0;
}

.couple .onleft p {
  margin-right: 30px;
}

.couple .onright {
  margin-bottom: 90px;
}

.couple .onright h3 {
  text-align: right;
  float: right;
}

.couple .onright h3:before {
  left: 44%;
}

.couple .onright span {
  margin-left: 30px;
}

.couple .onright p {
  margin-left: 30px;
}

.boxed .couple .onright h1:before {
  left: 23%;
}

.count-down {
  min-height: 500px;
  color: #fff;
  background: #333 url("assets/img/demo/cd-bg.png") no-repeat center;
  background-size: cover;
  text-align: center;
}

.is-countdown {
  border: 1px solid #fff;
  overflow: hidden;
  padding: 50px 20px 40px 20px;
}

.is-countdown:before, .is-countdown:after {
  content: " ";
  display: table;
}

.is-countdown:after {
  clear: both;
}

.countdown-rtl {
  direction: rtl;
}

.countdown-holding span {
  color: #888;
}

.countdown-row {
  clear: both;
  width: 100%;
  padding: 0px 2px;
  text-align: center;
}

.countdown-show1 .countdown-section {
  width: 98%;
}

.countdown-show2 .countdown-section {
  width: 48%;
}

.countdown-show3 .countdown-section {
  width: 32.5%;
}

.countdown-show4 .countdown-section {
  width: 24.5%;
}

.countdown-show5 .countdown-section {
  width: 19.5%;
}

.countdown-show6 .countdown-section {
  width: 16.25%;
}

.countdown-show7 .countdown-section {
  width: 14%;
}

.countdown-section {
  display: block;
  float: left;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.countdown-amount {
  font-size: 110px;
  font-family: "Teko", sans-serif;
  font-weight: 300;
  line-height: 0.7;
}

.countdown-period {
  display: block;
}

.countdown-descr {
  display: block;
  width: 100%;
}

.boxed .count-down {
  min-height: 600px;
}

.boxed .is-countdown {
  border: 0;
  padding-top: 0;
}

.boxed .countdown-row .countdown-section {
  width: 33%;
  padding: 20px 20px;
  border: 1px solid #fff;
}

.story {
  background-color: #fff;
}

.story-inner {
  padding: 10% 20%;
}

.story-inner .date-line {
  font-family: "Teko", sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #bbb;
  position: relative;
}

.story-inner .date-line:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 5px;
  background: #000;
  left: -40px;
  top: 8px;
}

.story-inner h2 {
  font-size: 30px;
  letter-spacing: 8px;
  font-weight: 700;
}

.line-story {
  margin-bottom: 50px;
}

.story-quote {
  padding: 10% 26%;
  color: #fff;
  background: #232323 url("assets/img/demo/story-bg.png") no-repeat;
  background-size: cover;
  position: relative;
}

.story-quote:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent transparent transparent #ffffff;
  left: 0;
  top: 50%;
  z-index: 99;
}

.story-quote blockquote {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 7px;
  line-height: 2.5;
  color: #fff;
  text-align: center;
}

.story-quote blockquote:before {
  letter-spacing: normal;
  line-height: 1.5;
  background-color: #fff;
}

.family {
  background-color: #f4f4f4;
  padding-bottom: 110px;
  position: relative;
  overflow: hidden;
}

.family:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #ccc;
  left: 50%;
  bottom: 0;
  top: 200px;
}

.groomsmen-side h3,
.bridesmaid-side h3 {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 5px;
}

.groomsmen-side .tag-name,
.bridesmaid-side .tag-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-top: 5px;
}

.groomsmen-side ul,
.bridesmaid-side ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.groomsmen-side ul li,
.bridesmaid-side ul li {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
}

.groomsmen-side ul li figure,
.bridesmaid-side ul li figure {
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.groomsmen-side ul li img,
.bridesmaid-side ul li img {
  display: block;
}

.groomsmen-side ul li p,
.bridesmaid-side ul li p {
  text-align: center;
}

.groomsmen-side ul li {
  float: left;
  margin-right: 20px;
}

.bridesmaid-side h3 {
  text-align: right;
}

.bridesmaid-side ul li {
  float: right;
  margin-left: 20px;
}

.guest-book {
  padding-bottom: 110px;
  position: relative;
  text-align: center;
  background: #fff;
}

.guest-book p {
  font-family: "Teko", sans-serif;
  font-size: 72px;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 30px;
  background: -webkit-linear-gradient(#DE6262, #FFB88C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.guest-book span {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  position: relative;
}

.guest-book span:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #000;
  left: 40%;
  top: -20px;
}

.guest-book figure {
  margin: 10px auto 0 auto;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.owl-text {
  padding-left: 130px;
  padding-right: 130px;
}

.owl-controls .owl-buttons div {
  position: absolute;
  top: 33%;
  width: 27px;
  height: 40px;
  display: block;
  text-indent: -999em;
}

.owl-controls .owl-buttons div.owl-prev {
  left: 0;
  background: transparent url("assets/img/owl-left.png") no-repeat;
}

.owl-controls .owl-buttons div.owl-next {
  right: 0;
  background: transparent url("assets/img/owl-right.png") no-repeat;
}

.home-gallery, .gallery-content {
  padding-bottom: 110px;
  background: #fff;
}

.home-gallery .thumb, .gallery-content .thumb {
  margin-bottom: 30px;
}

.gallery-content {
  clear: both;
}

.gallery-content:before {
  content: " ";
  display: table;
}

.gallery-content:after {
  content: " ";
  display: table;
  clear: both;
}

.rsvp-box {
  background: rgba(0, 0, 0, 0.4);
  padding: 60px 30px 30px 30px;
}

.latest-blog {
  padding-bottom: 110px;
  background: #fff;
}

.latest-blog-list {
  text-align: center;
}

.latest-blog-list a.title {
  font-family: "Teko", sans-serif;
  font-size: 60px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  color: #333;
}

.latest-blog-list .meta {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.latest-blog-list .meta p {
  margin-bottom: 3px;
  color: #878787;
}

.latest-blog-list .meta a {
  color: #000;
}

.gift-logo {
  background-color: #f4f4f4;
  padding-bottom: 110px;
  text-align: center;
}

.gift-logo ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gift-logo ul li {
  margin: 0 30px 30px 30px;
  display: inline-block;
}

.list-event {
  padding-bottom: 100px;
  background: #fff;
}

.event-box {
  padding-bottom: 40px;
  margin-bottom: 40px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.event-box h3 {
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 700;
  margin-bottom: 20px;
}

.event-box p {
  font-family: "Teko", sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0px;
  color: #878787;
  letter-spacing: 2px;
  line-height: 1.3;
}

.map-link {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 20px auto 0 auto;
  border: 1px solid #000;
  font-size: 24px;
  line-height: 1.6;
}

.map-link a {
  color: #878787;
}

.bordered {
  border: 50px solid #fff;
}

.bordered .site-header {
  padding-bottom: 10px;
}

.bordered .nav-menu {
  text-align: right;
}

.bordered .story {
  padding: 50px 0;
}

.bordered .bottom-space {
  height: 55em;
}

.bordered .bottom-section {
  border: 50px solid #fff;
  border-top: 0;
}

.boxed {
  border: 50px solid #fff;
}

.boxed .site-branding {
  padding-bottom: 40px;
}

.boxed .site-title {
  margin-top: 0;
  text-align: center;
}

.boxed .site-navigation {
  border-top: 1px solid #ddd;
}

.boxed .story {
  padding: 50px 0;
}

.boxed .onleft figure {
  margin-top: 30px;
}

.boxed .onright {
  float: right;
}

.boxed .onright figure {
  margin-bottom: 30px;
}

.boxed .bottom-space {
  height: 55em;
}

.boxed .bottom-section {
  border: 50px solid #fff;
  border-top: 0;
}

/*--------------------------------------------------------------
6.3 Post and Pages
--------------------------------------------------------------*/
.page-heading {
  padding: 90px 0;
  background: #333;
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}

.page-heading .entry-title {
  font-family: "Teko", sans-serif;
  font-weight: 300;
  font-size: 72px;
  letter-spacing: 7px;
}

.thumb a {
  background: #000;
  float: left;
}

.thumb a:hover img {
  opacity: 0.7;
}

.thumb a::before, .thumb a::after {
  position: absolute;
  top: 15px;
  right: 30px;
  bottom: 15px;
  left: 30px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

.thumb a::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

.thumb a::after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}

.thumb:hover a::before, .thumb:hover a::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.img-responsive {
  display: block;
  width: 100%;
  height: auto;
}

.modal-content {
  border-radius: 0;
}

.reservation {
  background: #000 url("assets/img/demo/rsvp-bg.png") no-repeat center;
  background-size: cover;
  color: #fff;
  padding-bottom: 110px;
}

.reservation .form-control {
  margin-bottom: 20px;
  border-radius: 0;
}

.story-content .line-story {
  position: relative;
  padding-bottom: 50px;
  margin-top: 50px;
  border-bottom: 1px solid #eee;
}

.story-content .line-story:before {
  content: "";
  display: table;
  clear: both;
}

.story-content .line-story:after {
  content: "";
  clear: both;
}

.thumb-story {
  width: 120px;
  height: 120px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.thumb-story img {
  width: 100%;
  height: auto;
}

.body-story {
  padding-left: 140px;
}

.body-story .date-line {
  font-family: "Teko", sans-serif;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 2px;
  color: #878787;
  text-transform: uppercase;
}

.body-story h2 {
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 7px;
  margin-top: 0;
  margin-bottom: 30px;
}

.body-story p {
  font-size: 16px;
}

.body-story .table > tbody > tr > td {
  font-size: 16px;
  font-weight: bold;
}

.contact-form, .rsvp-content {
  clear: both;
  overflow: hidden;
  margin-bottom: 50px;
}

.contact-form:before, .rsvp-content:before {
  content: "";
  display: table;
  clear: both;
}

.contact-form:after, .rsvp-content:after {
  content: "";
  clear: both;
}

.contact-form .entry-header, .rsvp-content .entry-header {
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}

.contact-form .entry-header p, .rsvp-content .entry-header p {
  color: #ddd;
}

.contact-form .entry-title, .rsvp-content .entry-title {
  font-size: 36px;
  font-weight: 300;
  font-family: "Teko",sans-serif;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.contact-form .entry-content, .rsvp-content .entry-content {
  position: relative;
  z-index: 9;
}

.contact-form .form-control, .rsvp-content .form-control {
  border-radius: 0;
  border-color: #000;
  background-color: rgba(255, 255, 255, 0.1);
}

.contact-form .form-control:focus, .rsvp-content .form-control:focus {
  background-color: white;
}

.contact-form .btn-line, .rsvp-content .btn-line {
  width: 100%;
}

.inner-contact, .inner-rsvp {
  background: #000;
  color: #fff;
  padding: 60px 100px;
  position: relative;
}

.inner-contact:before, .inner-rsvp:before {
  content: "";
  position: absolute;
  width: auto;
  height: auto;
  border: 1px solid rgba(255, 255, 255, 0.2);
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
}

.inner-contact p, .inner-rsvp p {
  margin-bottom: 20px;
}

.testimonial-content {
  margin-bottom: 50px;
}

.testimonial-content .testimonial-grid:hover blockquote {
  background: -webkit-linear-gradient(#DE6262, #FFB88C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.testimonial-content .testimonial-grid:hover blockquote cite {
  color: #000;
  -webkit-text-fill-color: black;
}

.rsvp-content {
  margin: 50px 0;
}

.rsvp-content section {
  margin-bottom: 40px;
}

.rsvp-content .entry-title {
  text-align: center;
  margin-bottom: 20px;
}

.rsvp-content .row-checkbox {
  margin-bottom: 10px;
}

.rsvp-content .row-checkbox label {
  text-transform: uppercase;
  font-size: 12px;
  padding-left: 6px;
}

.rsvp-content .select {
  margin-bottom: 20px;
}

#main {
  background: #fff;
  padding-bottom: 110px;
}

#content {
  background: #fff;
}

.site-content .couple {
  padding-top: 30px;
}

.site-content .onleft figure {
  margin-top: 30px;
}

.site-content .onright {
  float: right;
}

.site-content .onright figure {
  margin-bottom: 30px;
}

.post.format-standard:before,
.post.format-image:before,
.post.format-video:before,
.post.format-link:before,
.post.format-audio:before,
.post.format-quote:before,
.post.format-gallery:before,
.post.format-chat:before,
.post.format-status:before,
.post.format-aside:before,
.post.format-contact:before {
  position: absolute;
  font-size: 20px;
  width: 60px;
  height: 60px;
  display: block;
  background-color: #000;
  border-radius: 50%;
  font-family: "FontAwesome";
  font-weight: normal;
  color: #fff;
  left: 54px;
  top: 54px;
  text-align: center;
  padding-top: 14px;
}

.post {
  background-color: #f4f4f4;
  padding: 30px 30px 30px 0;
  border-top: 1px dashed #fff;
  border-bottom: 1px dashed #ddd;
  position: relative;
}

.post:before {
  content: "";
  display: table;
}

.post:after {
  content: "";
  display: table;
  clear: both;
}

.post a {
  transition: all 0.4s ease-in-out;
}

.post .entry-title {
  text-transform: none;
  font-weight: 700;
}

.post .entry-title a {
  color: #000;
}

.post table {
  margin-top: 20px;
}

.post .inner {
  margin-left: 170px;
  padding: 30px;
  background-color: #fff;
  min-height: 530px;
}

.post.format-standard:before {
  content: "\f0f6";
}

.post.format-image:before {
  content: "\f083";
}

.post.format-video:before {
  content: "\f03d";
}

.post.format-link:before {
  content: "\f0c1";
}

.post.format-audio:before {
  content: "\f001";
}

.post.format-quote:before {
  content: "\f10d";
}

.post.format-gallery:before {
  content: "\f248";
}

.post.format-chat:before {
  content: "\f086";
}

.post.format-status:before {
  content: "\f0a1";
}

.post.format-aside:before {
  content: "\f069";
}

.format-audio .entry-media, .format-video .entry-media, .format-contact .entry-media {
  position: relative;
  padding-bottom: 60%;
  height: 0;
  overflow: hidden;
}

.format-audio .entry-media iframe, .format-video .entry-media iframe, .format-contact .entry-media iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
}

.format-link .entry-title a {
  background-color: #000;
  color: #fff;
  line-height: 1.3;
}

.format-link .entry-title a:hover {
  background-color: #f4f4f4;
  color: #000;
  text-decoration: none;
}

.entry-media img {
  max-width: 100%;
}

.entry-format {
  float: left;
  display: inline;
  width: 170px;
  padding-top: 100px;
}

.entry-date {
  font-family: "Teko", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}

.entry-date a {
  color: #000;
}

.entry-date .date {
  display: block;
}

.entry-header {
  font-family: "Teko", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #878787;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.entry-header a {
  color: #000;
}

.entry-header .comment-link {
  float: right;
  display: inline;
}

.entry-content {
  font-size: 15px;
}

.entry-content blockquote {
  background: -webkit-linear-gradient(#DE6262, #FFB88C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  line-height: 1;
}

.entry-content blockquote cite {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #333;
  position: relative;
}

.entry-content blockquote cite:before {
  content: "";
  position: absolute;
  background-color: #333;
  width: 25px;
  height: 1px;
  left: 0px;
  top: -20px;
}

.entry-content .read-more {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 30px;
  display: block;
  text-decoration: underline;
}

.social {
  margin-top: 20px;
}

.social a {
  margin-right: 15px;
  font-size: 18px;
  color: #878787;
}

.social a:hover {
  color: #000;
}

.onright .social {
  margin-left: 30px;
}

.social-shares {
  margin-top: 30px;
  text-align: center;
}

.other-share {
  width: 40px;
  margin: 30px auto 0;
}

.other-share a {
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  font-size: 18px;
  padding-top: 4px;
  margin: 5px 0;
  color: #878787;
}

.other-share a:hover {
  color: #fff;
  border-color: rgba(0, 0, 0, 0.1);
}

.other-share a.facebook:hover {
  background-color: #3b5998;
}

.other-share a.twitter:hover {
  background-color: #55acee;
}

.other-share a.linkedin:hover {
  background-color: #007bb5;
}

.other-share a.google-plus:hover {
  background-color: #dd4b39;
}

.other-share a.pinterest:hover {
  background-color: #cb2027;
}

.shrd {
  position: relative;
  padding: 15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.shrd:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 7.5px 0 7.5px;
  border-color: #dddddd transparent transparent transparent;
  position: absolute;
  left: 45%;
  bottom: -8px;
}

.cat-links {
  padding-left: 20px;
  position: relative;
}

.cat-links:before {
  content: ".";
  position: absolute;
  left: 6px;
  top: -6px;
}

.chat li:nth-child(2n+1) {
  background-color: #eee;
  padding: 10px 20px 5px 20px;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-left: -20px;
}

.chat .name {
  font-weight: bold;
}

.chat p {
  font-style: italic;
}

.paging {
  padding: 30px 0;
  border-bottom: 1px dashed #ddd;
}

.paging a, .paging span {
  font-family: "Teko", sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  color: #000;
}

.paging .disabled {
  color: #ccc;
}

.single-author-name {
  font-family: "Teko", sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.single-author-socmed a {
  margin: 0 7px;
  font-size: 16px;
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .fa-chevron-left,
.carousel-control .fa-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}

.carousel-control .fa-chevron-left,
.carousel-control .icon-prev {
  margin-left: -20px;
}

#gallery-grid .thumb {
  display: none;
}

.filter-box {
  content: "";
  display: table;
  text-align: center;
  margin-top: 40px;
  width: 100%;
}

ul#options {
  padding: 0;
  margin-bottom: 40px;
  list-style-type: none;
  display: inline-block;
  clear: both;
}

ul#options li {
  font-family: "Teko", sans-serif;
  font-weight: 300;
  font-size: 18px;
  float: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px 20px;
  border: 1px solid #000;
  margin: 0 5px;
  cursor: pointer;
}

ul#options li.active, ul#options li:hover {
  background-color: #000;
  color: #fff;
}

.error-page {
  padding-bottom: 100px;
}

.var-section h2 {
  font-size: 16px;
}

.var-section form {
  position: relative;
}

.var-section form .btn {
  position: absolute;
  top: 6px;
  right: 5px;
  border-radius: 3px;
}

/*--------------------------------------------------------------
6.4 Comments
--------------------------------------------------------------*/
.comment-list {
  padding-left: 0;
  list-style: none;
}

.comment-list li {
  margin-bottom: 25px;
}

.children {
  padding-left: 60px;
  list-style: none;
  margin-top: 20px;
}

.children li {
  position: relative;
}

.children li:before {
  content: "";
  position: absolute;
  background-color: #000;
  height: 50px;
  width: 1px;
  left: -40px;
  top: 0;
}

.children li:after {
  content: "";
  position: absolute;
  background-color: #000;
  height: 1px;
  width: 26px;
  left: -40px;
  bottom: 65px;
}

.comment-body {
  content: "";
  display: table;
}

.comments-area {
  padding: 50px 40px;
  border-top: 1px dashed #ddd;
  background-color: #f4f4f4;
}

.comment-author {
  float: left;
  width: 94px;
}

.comment-author img {
  width: 100%;
  height: auto;
}

.comment-wrapper {
  margin-left: 94px;
}

.comments-title {
  font-family: "Teko", sans-serif;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 30px;
  text-align: center;
}

.comment-content {
  padding-left: 30px;
}

.comment-meta {
  padding-left: 30px;
  text-transform: uppercase;
}

.comment-meta a {
  color: #000;
}

.comment-meta .fn {
  font-family: "Teko", sans-serif;
  font-size: 24px;
  font-weight: 300;
}

.comment-meta .comment-metadata {
  margin-left: 15px;
  font-size: 11px;
  color: #999999;
}

.comment-meta .reply {
  float: right;
  font-size: 11px;
  font-weight: bold;
  font-style: italic;
}

.comment-meta .reply a {
  color: #000;
}

.comment-reply-title {
  text-align: center;
  font-family: "Teko", sans-serif;
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 30px;
}

.comment-respond {
  background-color: #000;
  color: #fff;
  padding: 60px 100px;
  position: relative;
}

.comment-respond:before {
  content: "";
  position: absolute;
  width: auto;
  height: auto;
  border: 1px solid rgba(255, 255, 255, 0.2);
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
}

.comment-form {
  position: relative;
  z-index: 9;
}

.comment-form-comment .input-text {
  width: 100%;
  padding: 10px;
  border: 0;
  min-height: 200px;
  background: rgba(255, 255, 255, 0.1);
}

.comment-form-comment .input-text:focus {
  background: white;
}

.comment-form-email,
.comment-form-author,
.comment-form-url {
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
  display: inline;
  width: 31.2%;
}

.comment-form-email .input-text,
.comment-form-author .input-text,
.comment-form-url .input-text {
  width: 100%;
  padding: 10px;
  border: 0;
  background: rgba(255, 255, 255, 0.1);
}

.comment-form-email .input-text:focus,
.comment-form-author .input-text:focus,
.comment-form-url .input-text:focus {
  background: white;
}

.comment-form-url {
  margin-right: 0;
}

.form-submit {
  clear: both;
}

.form-submit .btn {
  width: 100%;
}

/*--------------------------------------------------------------
6.5 Widget
--------------------------------------------------------------*/
#secondary img {
  max-width: 100%;
}

#secondary .widget {
  margin-bottom: 45px;
}

#secondary .widget-title {
  font-family: "Teko", sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#secondary .widget-title:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 3px;
  background-color: #000;
  left: 0;
  bottom: 5px;
}

.widget .searchform .txt {
  padding: 2px 7px;
}

.post-type-widget .post-thumbnail {
  margin-bottom: 10px;
}

.post-type-widget .post-date {
  font-family: "Teko", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #878787;
  text-transform: uppercase;
}

.post-type-widget .post-title {
  text-transform: none;
  font-size: 16px;
  margin: 0;
}

.post-type-widget .post-title a {
  color: #333;
}

.post-type-widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.post-type-widget ul li {
  margin-bottom: 30px;
}

.widget_categories ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.widget_categories li {
  width: 100%;
  padding: 10px 0;
  display: inline-block;
  border-bottom: dotted 1px #dddddd;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.widget_categories li a {
  color: #000;
}

.widget_categories li span {
  color: #878787;
}

.instagram-image {
  margin-bottom: 30px;
}

/*--------------------------------------------------------------
6.6 Footer
--------------------------------------------------------------*/
.bottom-space {
  position: relative;
  height: 50em;
  z-index: -2;
  pointer-events: none;
}

.bottom-section {
  position: fixed;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #000;
  background-size: cover;
  padding-top: 110px;
  color: #fff;
}

.bottom-section .closing {
  font-family: 'Sail', cursive;
  font-weight: 300;
  font-size: 62px;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 20px;
  background: -webkit-linear-gradient(#DE6262, #FFB88C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bottom-section .name-bottom {
  margin-top: 50px;
  padding-bottom: 60px;
}

.bottom-section .name-bottom p {
  font-family: 'Teko', sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 1;
  color: #fff;
}

.site-credit {
  margin-top: 50px;
  padding: 60px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
}

.site-credit p {
  color: #fff;
}

/*--------------------------------------------------------------
7.0 Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
7.1 Captions
--------------------------------------------------------------*/
/*--------------------------------------------------------------
7.2 Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
8.0 Responsive
--------------------------------------------------------------*/
/*---------- Tablet -----------*/
@media (max-width: 768px) {
  .bordered {
    border-width: 25px;
  }
  .bordered .container {
    width: 100%;
  }
  .bordered .site-title {
    text-align: center;
  }
  .bordered .nav-menu {
    text-align: center;
  }
  .bordered .menu a {
    padding: 10px 16px;
  }
  .bordered .bottom-section, .boxed .bottom-section {
    border-width: 25px;
  }
  .boxed {
    border-width: 25px;
  }
  .boxed .container {
    width: 100%;
  }
  .boxed .site-branding {
    padding-bottom: 20px;
  }
  .boxed .menu a {
    padding: 10px 16px;
  }
  .boxed .count-down {
    min-height: 500px;
  }
  .boxed .groomsmen-side ul li {
    margin-right: 10px;
  }
  .boxed .bridesmaid-side ul li {
    margin-left: 10px;
  }
  .error-page {
    overflow: hidden;
  }
  .caption {
    top: 35%;
  }
  .caption h1 {
    font-size: 62px;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .caption p {
    font-size: 14px;
  }
  .caption.on-location p {
    font-size: 50px;
    line-height: 1.2;
  }
  .section-title {
    font-size: 36px;
    margin-top: 50px;
  }
  .family,
  .guest-book,
  .home-gallery,
  .latest-blog,
  .gift-logo,
  .list-event {
    padding-bottom: 70px;
  }
  .bottom-space {
    height: 58em;
  }
  .couple h3 {
    font-size: 20px;
    letter-spacing: 0;
  }
  .couple .onright h3 {
    float: none;
    text-align: left;
    margin-left: 30px;
  }
  .couple .onright h3:before {
    left: 0;
  }
  .social {
    margin-bottom: 20px;
  }
  .onright figure {
    margin-bottom: 20px;
  }
  .body-story h2 {
    font-size: 40px;
  }
  .count-down {
    min-height: 420px;
  }
  .countdown-amount {
    font-size: 72px;
  }
  .story-quote:after {
    border-width: 15px 15px 0 15px;
    border-color: #fff transparent transparent transparent;
    left: 50%;
    top: 0;
  }
  .thumb a {
    float: none;
  }
  .thumb img {
    width: 100%;
  }
  .latest-blog-list a.title {
    font-size: 42px;
  }
  .latest-blog-list .meta {
    font-size: 10px;
  }
  blockquote {
    font-size: 42px;
    line-height: 1;
  }
  .post-type-widget img, .widget_categories img {
    width: 100%;
  }
  .post-type-widget ul li, .widget_categories ul li {
    width: 48%;
    float: left;
    margin-right: 20px;
  }
  .post-type-widget ul li:nth-child(even), .widget_categories ul li:nth-child(even) {
    margin-right: 0;
  }
  .widget .searchform {
    position: relative;
  }
  .widget .searchform .txt {
    padding: 10px 7px;
    border: 1px solid #ddd;
    width: 100%;
  }
  .widget .searchform .btn {
    position: absolute;
    right: 0;
    top: 7px;
    right: 6px;
  }
  .entry-header .comment-link {
    float: none;
  }
  .comment-form-email,
  .comment-form-author,
  .comment-form-url {
    width: 100%;
    margin-right: 0;
  }
}

/*---------- Smartphone -----------*/
@media (max-width: 667px) {
  .menu {
    display: block;
  }
  .menu li ul {
    display: block;
    position: relative;
    width: auto;
    border-top: 1px dashed #ddd;
  }
  .menu li ul li {
    text-align: center;
  }
  .navbar-collapse {
    border-top: 0;
    padding: 0;
  }
  .navbar-collapse .nav-menu {
    background-color: #fff;
  }
  .navbar-collapse .nav-menu li {
    float: none;
    border-bottom: 1px dashed #ddd;
  }
  .navbar-collapse .nav-menu li a {
    color: #000;
    display: block;
    padding: 20px;
  }
  .bordered .navbar-toggle, .boxed .navbar-toggle {
    padding: 0;
    margin: 0;
  }
  .bordered .navbar-toggle .icon-bar, .boxed .navbar-toggle .icon-bar {
    background-color: #000;
  }
  .caption {
    top: 27%;
  }
  .caption h1 {
    font-size: 48px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .caption.on-location p {
    font-size: 32px;
  }
  .section-title {
    margin: 45px 0 25px;
  }
  .couple .onleft {
    margin-bottom: 30px;
  }
  .count-down {
    min-height: 340px;
  }
  .countdown-amount {
    font-size: 48px;
  }
  .countdown-section {
    font-size: 10px;
  }
  .boxed .count-down {
    min-height: 400px;
  }
  .boxed .countdown-row .countdown-section {
    width: 32.7%;
  }
  .story-inner {
    padding: 10% 15%;
  }
  .story-quote {
    padding: 16%;
  }
  .story-quote blockquote {
    font-size: 24px;
    letter-spacing: 3px;
  }
  .family:before {
    background-color: transparent;
  }
  .bridesmaid-side,
  .groomsmen-side {
    overflow: hidden;
    text-align: center;
  }
  .bridesmaid-side ul li {
    width: 47%;
  }
  .bridesmaid-side ul li:nth-child(even) {
    margin-left: 0;
  }
  .bridesmaid-side ul li figure {
    width: 100%;
    height: auto;
  }
  .bridesmaid-side ul li img {
    width: 100%;
    height: auto;
  }
  .bridesmaid-side h3 {
    text-align: center;
  }
  .groomsmen-side ul li {
    width: 47%;
  }
  .groomsmen-side ul li:nth-child(even) {
    margin-right: 0;
  }
  .groomsmen-side ul li figure {
    width: 100%;
    height: auto;
  }
  .groomsmen-side ul li img {
    width: 100%;
    height: auto;
  }
  .owl-text {
    padding-left: 70px;
    padding-right: 70px;
  }
  .guest-book p {
    font-size: 32px;
  }
  .latest-blog-list .meta {
    margin-bottom: 50px;
  }
  .bottom-space {
    height: 46em;
  }
  .bottom-section .closing {
    font-size: 45px;
  }
  .bottom-section .name-bottom p {
    font-size: 32px;
  }
  .site-credit {
    padding: 30px 15px;
  }
  .thumb-story {
    position: relative;
  }
  .body-story {
    padding-left: 0;
  }
  .inner-contact,
  .inner-rsvp,
  .comment-respond {
    padding: 40px 50px;
  }
  .contact-form .entry-header,
  .rsvp-content .entry-header {
    margin-bottom: 30px;
  }
  ul#options li {
    margin-bottom: 10px;
  }
  .post {
    padding: 20px;
  }
  .post .inner {
    margin-left: 0;
    padding: 15px;
  }
  .post .entry-title {
    font-size: 24px;
    margin-top: 10px;
  }
  .entry-format {
    float: none;
  }
  .post.format-standard:before,
  .post.format-image:before,
  .post.format-video:before,
  .post.format-link:before,
  .post.format-audio:before,
  .post.format-quote:before,
  .post.format-gallery:before,
  .post.format-chat:before,
  .post.format-status:before,
  .post.format-aside:before,
  .post.format-contact:before {
    top: 20px;
    left: 20px;
  }
  .social-shares {
    margin: 0;
    text-align: left;
    padding-left: 75px;
  }
  .social-shares a {
    text-align: center;
  }
  .shrd {
    display: none;
  }
  .other-share {
    width: auto;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .other-share a {
    font-size: 14px;
    width: 30px;
    height: 30px;
  }
  .entry-date {
    text-align: left;
    font-size: 24px;
    padding-left: 75px;
  }
  .entry-date .date {
    display: inline;
    margin: 0 10px;
  }
  .entry-content blockquote {
    font-size: 45px;
  }
  .post-type-widget ul li,
  .widget_categories ul li {
    width: 100%;
  }
  .related-post-item .entry-date {
    padding-left: 0;
  }
  .comments-area {
    padding: 20px;
  }
  .comment-author {
    display: none;
  }
  .comment-wrapper {
    margin-left: 0;
  }
  .comment-meta,
  .comment-content {
    padding-left: 0;
  }
  .children {
    padding-left: 40px;
  }
  .children li:before, .children li:after {
    display: none;
  }
}

@media (max-width: 480px) {
  .groomsmen-side ul li,
  .bridesmaid-side ul li {
    width: 46.5%;
  }
}
